<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>最初のページ</title>

    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>

<body>
    <h1>Hello World</h1>

    <div id="sendRegister">
        <form id="sendUser">
            <table>
                <tr>
                    <td>お名前</td>
                    <td>
                        <input type="text" id="name" value="" length="30">
                    </td>
                </tr>
                <tr>
                    <td>年齢</td>
                    <td>
                        <input type="text" id="age" value="" length="2">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>

</html>